/* css van Erwin */
.headergebruiker {
    text-align: center;
    background-image: url("../img/contact.png");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-size: 30px;
    font-family: lato;
    text-shadow: 1px 1px #000000;
    margin: 5px 0;
    margin-bottom: 30px;
    border-radius: 10px;
}
.transparentLayer {
    background: radial-gradient(circle, rgba(0,0,0,0.5) 0%, rgba(8,172,223,0.5) 100%);
    padding: 60px;
    border-radius: 5px
}

.welkom div {
    font-size: 10px;
    font-family: lato;
    text-shadow: 1px 1px #000000;
}

input[type=text]:focus {
    outline: none !important;
    border-color: #e7B268;
    box-shadow: 0 0 10px #719ECE;
}
input[type=email]:focus {
    outline: none !important;
    border-color: #e7B268;
    box-shadow: 0 0 10px #719ECE;
}
input[type=tel]:focus {
    outline: none !important;
    border-color: #e7B268;
    box-shadow: 0 0 10px #719ECE;
}

textarea:focus {
    outline: none !important;
    border-color: #e7B268;
    box-shadow: 0 0 10px #719ECE;
}

input[type=checkbox] {
    background: transparent;
    border: none;
}

::placeholder {
    color: #2196F3;
    font-family: lato;
}

.input-requirements {
    font-size: 12px;
    font-style: italic;
    text-align: left;
    list-style: disc;
    list-style-position: inside;
    max-width: 400px;
    margin: 10px auto;
    color: rgb(150,150,150);
}

    .input-requirements li.invalid {
        color: #e74c3c;
    }

    .input-requirements li.valid {
        color: #2ecc71;
    }

        .input-requirements li.valid:after {
            display: inline-block;
            padding-left: 10px;
            content: "\2713";
        }

.GebruikerContainer {
   /* display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    grid-gap: 10px; */
    border: 1px solid #2196F3;
    padding: .5rem 1rem;
    border-radius: .25rem;

    text-align: center;
    font-size: 14px;
    font-family: lato;
    color: #006666;
}


.Submenu {
    text-align: center;
}

.GebruikerFormulier {
    /*font-size: 15px;
    font-family: lato;
    font-style: italic;
    color: red;*/
    margin-bottom: 10px;
}

.BeheerLabeldiv {
    /*float: left;*/
    width: 200px;
    color: green;
}

.grid-overview {
    display: grid;
    grid-template-columns: repeat(3, minmax(30%, 1fr));
    grid-gap: 2px;
    background-color: #ffffff;
    margin-bottom: 5px;
}
.overview {
    width: 250px;
}

.regel {
    visibility: hidden;
}

.blok {
    display: inline-block;
    width: 20%;
}

.verzendbtn {
    width: 100px;
    background-color: transparent;
    border: 1px solid #2196F3;
    padding: .5rem 1rem;
    
    border-radius: .25rem;
}

input {
    background-color: transparent;
    border: 1px solid #2196F3;
    padding: .5rem 1rem;
    border-radius: .25rem;
    font-family: lato;
    
}

select {
    background-color: transparent;
    border: 1px solid #2196F3;
    padding: .5rem 1rem;
    border-radius: .25rem;
    font-family: lato;
    
}

textarea {
    background-color: transparent;
    border: 1px solid #2196F3;
    padding: .5rem 1rem;
    border-radius: .25rem;
    font-family: lato;
    resize: none;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

@-moz-document url-prefix() {
    input {
        font-size: 10pt;
        font-family: lato;
    }

    textarea {
        font-size: 10pt;
        font-family: lato;
        width: 322px;
    }
}
 
.check {
    width: 225px;
    height: 60px;
    background-image: url(../img/recaptcha.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.check input[type=checkbox] {
    background: transparent;
    border: none;
    margin-top: 22px;
    margin-left: 22px;
}
       
:checked {
    visibility: hidden;
}

.popup {
    visibility: hidden;
    position: relative;
    display: inline-block;
    cursor: pointer;
}

    .popup .popuptext {
        visibility: hidden;
        width: 160px;
        background-color: #eae6e6;
        color: #2196F3;
        text-align: center;
        border-radius: 4px;
        padding: 12px 10px;
        position: sticky;
        z-index: 1;
        top: 100%;
        left: 50%;
        margin-left: -25px;
    }

        .popup .popuptext::after {
            content: "";
            position: absolute;
            top: 50%;
            left: -4%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: transparent #d3d3d3 transparent transparent;
        }

.popupLabel {
    visibility: hidden;
    width: 160px;
    background-color: #eae6e6;
    color: #2196F3;
    text-align: center;
    border-radius: 4px;
    padding: 12px 10px;
    position: absolute;
    z-index: 1;
    top: -10px;
    left: -3px;
    margin-top: 10px;
}

    .popupLabel::after {
        content: "";
        position: absolute;
        top: 50%;
        left: -4%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent #d3d3d3 transparent transparent;
    }

.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.map {
    border: 1px solid #2196F3;
    height: 350px;
    width: 100%;
}

/*  Downloads  */
.headerdownloads {
/*    padding: 60px;*/
    text-align: center;
    background-image: url("../img/downloads.png");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-size: 30px;
    font-family: lato;
    text-shadow: 1px 1px #000000;
    margin: 5px 0;
    border-radius: 5px;
}

.grid-downloads {
    display: grid;
    grid-template-columns: repeat(3, minmax(30%, 1fr));
    grid-gap: 2px;
    background-color: #ffffff;
    margin-bottom: 5px;
}

.downl {
    border: 1px solid rgba(8,172,223,1);;
    border-radius: .25rem;
    padding: 15px;
    margin: 5px 5px 5px 5px;
}

.downloadAfbeelding img {
    max-width: 100%;
    display: block;
    margin-bottom: 10px;
    border-radius: 15px;
}

.afbeeldingLinda {
    margin: 0px auto;
    background-image: url(../img/handboek.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
}
    .afbeeldingLinda:hover {
        background-image: url(../img/klaar_linda.png);
        transition: .5s ease;
    }

.afbeeldingGuus {
    margin: 0px auto;
    background-image: url(../img/handboek.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
}

    .afbeeldingGuus:hover {
        background-image: url(../img/klaar_guus.png);
        transition: .5s ease;
    }

.afbeeldingThijs {
    margin: 0px auto;
    background-image: url(../img/handboek.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
}

    .afbeeldingThijs:hover {
        background-image: url(../img/klaar_thijs.png);
        transition: .5s ease;
    }

.afbeeldingTaoufik {
    margin: 0px auto;
    background-image: url(../img/handboek.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
}

    .afbeeldingTaoufik:hover {
        background-image: url(../img/klaar_taoufik.png);
        transition: .5s ease;
    }

.afbeeldingErwin {
    margin: 0px auto;
    background-image: url(../img/handboek.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
}

    .afbeeldingErwin:hover {
        background-image: url(../img/klaar_erwin.png);
        transition: .5s ease;
    }

.downloadOmschrijving {
    float: left;
}

.omschrijving {
    font-size: 13px;
    font-family: lato;
    
}

.downloadUitleg {
    font-size: 10px;
    font-family: lato;
    padding-top: 18px;
}

.buttonDownload {
    float: left;
    margin-top: -25px;
}

.buttonAdobe {
    float: right;
    margin-top: -25px;
}

/*footer li, footer p {
    font-size: 12px;
}*/


/* Responsive van Erwin  */
@media only screen and (max-width: 900px) {
    .grid-downloads {
        display: grid;
        grid-template-columns: repeat(2, minmax(30%, 1fr));
        grid-gap: 2px;
        background-color: #ffffff;
    }
    .downloadUitleg {
        font-size: 9px;
    }
}

@media screen and (max-width: 530px) {
    .downloadUitleg {
        font-size: 8px;
    }
    
}

@media screen and (max-width: 800px) {

    .BeheerOverzichtContainer {
        display: grid;
        grid-template-columns: none;
        grid-gap: 12px;
        background-color: #ffffff;
    }
    /*
    .BeheerContainer {
        display: grid;
        grid-template-columns: none;
        grid-gap: 2px;
        background-color: #ffffff;
    }
    .map{
        width: 350px;
    }
    */
}
