i {
	color: rgba(8,172,223,0.5);
	font-size: 32px;
}
p {
	margin: 0;
}
.headerContainer {
    padding: 0px;
    text-align: center;
    background-image: url(../img/cpuBG.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-size: 30px;
    text-shadow: 1px 1px #000;
    border-radius: 5px
}

.transparentLayer {
	background: radial-gradient(circle, rgba(0,0,0,0.5) 0%, rgba(8,172,223,0.5) 100%);
	padding: 60px;
	border-radius: 5px
}

.overOnsContainer {
	margin-top: 1em;
	border-radius: 5px;
}
.twoColumns {
	width: 100%;
}
.twoColumns div	{
	display: inline-block;
	width: 70%;
	vertical-align: top;
	padding: 0;
}
.twoColumns div:nth-child(2)	{
	position: relative;
	width: 30%;
	padding: 0;
}
.twoColumns img {
	position: absolute;
	height: 200px;
	margin-top: -50px;
}
.onsTeam {
	white-space: nowrap;

}
 .onsTeam h3, .onsTeam h4, .arrowDownIcon {
  	text-align: center;
  	margin:10px;
}
.onsTeam p {
 	margin-left: -10px;
 	margin-right: -10px;
 	margin-bottom: 10px;
}
.onsTeam h4, .threeColumns div{
 	padding-right: 10px;
 	padding-left: 10px;
}

.threeColumns .teamMember {
	width: 31.3%;
	margin-right: 3%;
	white-space: normal;
	display: inline-block;
	vertical-align: top;
}

.teamMember {
	border: 1px solid rgba(8,172,223,1);
    border-radius: 5px;
	margin-bottom: 16px; 
	box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.teamMember h3 {
	margin: 0;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 0;
}
.teamMember h4 {
	margin: 0;
	padding:0;
}
.teamMember img {
	max-width: 100%;
	max-height: 240px;
	display: block;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
}
.teamMember p {
	margin-top: 0;
}
.teamMember p:nth-child(2) {
	margin-bottom: 15px;
}
.hideShow {
	display: none;
	height: 0;
	overflow: hidden;
	transition: height 300ms ease-out;
}

.hideShow.is-visible {
	display: block;
	height: auto;
}

@media screen and (max-width: 1000px){
	h1 {
		font-size: 34px;
	}
	h2 {
		font-size: 26px
	}
	h3 {
		font-size: 22px
	}
	h4 {
		font-size: 18px;
	}
	p {
		font-size: 16px
	}
	.teamMember p {
		font-size: 16px
	}

}
@media screen and (max-width: 800px){
	.twoColumns div	{
	display:block;
	width: 100%;

	}
	.twoColumns div:nth-child(2)	{
		display: none;
	}
	p {
		font-size: 14px
	}
}

@media screen and (max-width: 700px){
	p {
		font-size: 18px
	}
	.threeColumns .teamMember {
		margin-right: 0;
		white-space: normal;
		display: inline-block;
		vertical-align: top;
	}

	.onsTeam .teamMember {
		display: block;
		width:auto;
	}
	.teamMember img {
		max-width: 100%;
		display: block;
	    margin: 0 auto;
	    margin-bottom: 16px;
	    border-radius: 10px;
	}
	.teamMember p{
		margin-right: 5px;
		margin-left: 5px;
	}
}


